<img class="wave" src="https://i.postimg.cc/sDG8zyXM/wave.png">
    <div class="container">
      <div class="img">
        <img src="https://svgshare.com/i/JcM.svg">
      </div>
      <div class="login-content">
        <form action="index.html">
          <img src="https://svgshare.com/i/Jcf.svg">
          <h2 class="title">Login</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input type="text" name="aname" placeholder="Username" required>
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
            <input type="password" name="apass" placeholder="Password" required>
            </div>
          </div>
          
          <button type="submit"><a href="task">Log In</a></button>
        
          <br>
          <p>-------or-------</p>

          <button type="submit"><a href="regis">Register</a></button>
          
          

         

        </form>
      </div>
    </div>